%section
  %h4
    = "#{@user.username}"
  %p= @user.short_address
  - if current_user
    - if current_user.is_not(@user)
      - if current_user.can_follow?(@user)
        = link_to "Follow", relationships_path(following_id: @user), method: :post, class: "btn btn-default pull-right"
      - elsif
        = link_to "Unfollow", relationship_path(@relationship), method: :delete, class: "btn btn-default pull-right"
%section
  %ul
    %li= "Items for sale: #{@user.number_of_active_listings}"
    %li= "Followers #{Relationship.where(following_id: @user).count}"
    %li= "Following #{@user.relationships.count}"
= render 'shared/item_widget'