= form_for(@listing, :html => { :multipart => true }) do |f|
  = render 'errors'
  = render 'stripe_errors'
  = render 'category', :f => f
  = render 'product_information', :f => f
  = render 'product_condition', :f => f
  = render 'product_description', :f => f
  = render 'pricing_breakdown'
  = render 'submit', :f => f