- if @listings.empty?
  .jumbotron.text-center
    %h2 You have no listings created
    = link_to 'Create New Listing', new_listing_path, class: "btn btn-info bold"
- else
  %section.text-center
    %h2 Your Listings
  .table-wrap
    .table-wrap-header
      .clearfix
        .pull-right
          = link_to 'List new Item', sell_path, class: 'btn btn-info'
    %table.table
      %thead
        %tr
          %th Item
          %th Designer
          %th Price
          %th Category
          %th Status
          %th Date Created
          %th Actions
      %tbody
        - @listings.each do |listing|
          %tr
            %td= link_to listing.name, listing
            %td= listing.designer_name
            %td= listing.to_currency
            %td= listing.category_name
            %td= listing.listing_status
            %td= listing.date_created
            %td
              .pull-right
                =link_to edit_listing_path(listing) do
                  %i.fa.fa-edit.fa-fw.m-r-xs{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Edit Listing"}
                %a{"data-target" => "#listing_#{listing.id}", "data-toggle" => "modal", :href => ""}
                  %i.fa.fa-times.fa-fw{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Delete Listing"}
              .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "listing_#{listing.id}", :role => "dialog", :tabindex => "-1"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                      %h4#myModalLabel.modal-title Are you sure?
                    .modal-body
                      Once the listing is deleted, it's gone forever!
                    .modal-footer
                      %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
                      = link_to "Delete", listing, method: :delete, class: "btn btn-danger"
