- if @listings.empty?
  .jumbotron.text-center
    %h2 You have no listings created
    = link_to 'Create New Listing', new_listing_path, class: "btn btn-info bold"
- else 
  %section.text-center
    %h2 Your Listings
  .table-wrap
    .table-wrap-header
      .clearfix
        .pull-right
          = link_to 'List new Item', sell_path, class: 'btn btn-info'
    %table.table
      %thead
        %tr
          %th Item
          %th Designer
          %th Price
          %th Category
          %th Status
          %th Date Created
          %th Actions
      %tbody
        - @listings.each do |listing|
          %tr
            %td= listing.name
            %td= listing.designer_name
            %td= number_to_currency(listing.selling_price)
            %td= listing.category.title.capitalize
            %td= listing_status(listing)
            %td= listing.created_at.strftime("%B %-d, %Y")
            %td 
              =link_to 'Show', listing
              =link_to 'Edit', edit_listing_path(listing)
              =link_to 'Delete', listing, method: :delete