.product-listing
  .row
    .col-md-6
      = image_tag(@listing.image.url, class: 'img-responsive')
    .col-md-6
      %h2= @listing.name
      .condition
        %span Condition:
        New with tags
      .seller
        %span Listed by
        = link_to @listing.user.name, '#'
      %h3.price
        = number_to_currency(@listing.price)
      .clearfix
        .pull-left
          = form_for @order_item, remote: true do |f|
            = f.hidden_field :listing_id, value: @listing.id
            = f.submit "Add to Cart", class: "btn btn-info btn-lg"
        %button.btn.btn-default.btn-lg.m-l
          = "Message #{@listing.user.name}"
      .description
        %p
          = @listing.description