- if @listing.sold
  .panel
    .panel-body.text-center
      Item is sold
.product-listing
  .row
    .col-md-7
      - if @listing_image
        = image_tag(@listing_image.listing_image.url(:large), class: 'img-responsive', style: 'width:100%')
      - else
        = image_tag('thrice-logo-bg.jpg', class: 'img-responsive')
    .col-md-4.col-md-offset-1
      %h3= @listing.name
      %h3.price
        = @listing.to_currency
      / .watch-list
      /   %span Saved by
      /   10 people
      .size
        - if @listing.option_item_id
          %span Size:
          = OptionItem.where(id: @listing.option_item_id).first.value
      .condition
        %span Condition:
        = @listing.condition
      .seller
        %span Listed by
        = link_to @listing.seller_name, user_profile_path(@listing.user)
      .description
        %h6 Description
        %p= @listing.description
      - unless @listing.order_items.count > 0 || @listing.sold
        - if @listing.best_offer
          %button.btn.btn-danger.btn-lg.btn-block{'data-target' => '#make_an_offer_modal', "data-toggle" => "modal", :href => ""} Make an offer
        - else
          = form_for @order_item, remote: true do |f|
            = f.hidden_field :listing_id, value: @listing.id
            = f.submit "Add to Cart", class: "btn btn-info btn-lg btn-block", id: 'submit-btn'
            = link_to "Added to Cart", cart_path, class: "btn btn-info btn-lg btn-block", id: 'added_to_cart_btn'
      .description
        %h6 Return Policy
        %p You can return this item for any reason for Thrice site credit. Free shipping both ways. Submit your return within 4 days of delivery.
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :id => "make_an_offer_modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Make an Offer
      .modal-body
        .row
          .col-sm-4
            .input-group
              .input-group-addon $
              %input#exampleInputAmount.form-control{:placeholder => "Amount", :type => "text"}
      .modal-footer
        %button.btn.btn-link{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-success{"data-dismiss" => "modal", :type => "button"} Submit
- if current_user
  %section.listings-comments
    .row
      .col-sm-10
        = form_for [@listing, Comment.new], remote: true do |f|
          %fieldset
            .form-group
              %label Write Comment
              .row
                .col-sm-8.comments-area
                  = f.text_area :content, class: "form-control"
          %fieldset.form-group.actions.clearfix
            = f.submit "Submit", class: "btn btn-default"
        %header.m-b-lg
          %h5 Comments (#{@comments.count})
        #comments
          = render @comments, locals: { listing: @listing }



































