.product-listing
  .row
    .col-md-7
      - if @listing_image
        = image_tag(@listing_image.listing_image.url(:large), class: 'img-responsive', style: 'width:100%')
    .col-md-4.col-md-offset-1
      %h3= @listing.name
      %h3.price
        = number_to_currency(@listing.selling_price)
      .condition
        %span Condition:
        = @listing.condition
      .seller
        %span Listed by
        = link_to @listing.user.name, '#'
      .description
        %h6 Description
        %p= @listing.description
      = form_for @order_item, remote: true do |f|
        = f.hidden_field :listing_id, value: @listing.id
        = f.submit "Add to Cart", class: "btn btn-info btn-lg btn-block"
      .description
        %h6 Return Policy
        %p Return's accepted