.product-listing
  .row
    .col-md-7
      - if @listing_image
        = image_tag(@listing_image.listing_image.url(:large), class: 'img-responsive', style: 'width:100%')
      - else
        = image_tag('thrice-logo-bg.jpg', class: 'img-responsive')
    .col-md-4.col-md-offset-1
      %h3= @listing.name
      %h3.price
        = @listing.to_currency
      .size
        - if @listing.option_item_id
          %span Size:
          = OptionItem.where(id: @listing.option_item_id).first.value
      .condition
        %span Condition:
        = @listing.condition
      .seller
        %span Listed by
        = link_to @listing.seller_name, '#'
      .description
        %h6 Description
        %p= @listing.description
      - unless @listing.order_items.count > 0
        = form_for @order_item, remote: true do |f|
          = f.hidden_field :listing_id, value: @listing.id
          = f.submit "Add to Cart", class: "btn btn-info btn-lg btn-block", id: 'submit-btn'
          = link_to "Added to Cart", cart_path, class: "btn btn-info btn-lg btn-block", id: 'added_to_cart_btn'
      .description
        %h6 Return Policy
        %p Return's accepted
