.row
  .col-md-6
    .thumbnail
      = image_tag @listing.image.url
  .col-md-6
    %h3= @listing.name
    %p= number_to_currency(@listing.price)
    %p= @listing.description
    %br/
    .center
= form_for @order_item, remote: true do |f|
  %h4.text-right
    Unit Price: 
    %span{style: "color: green"}= number_to_currency(@listing.price)
  .input-group
    .input-group-btn
      = f.hidden_field :listing_id, value: @listing.id 
      = f.submit "Add to Cart", class: "btn btn-primary" 
- if current_user == @listing.user
  = link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link"
  |
= link_to 'Back', listings_path, class: "btn btn-link"
