= form_for [:admin, :blog, @post], html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :title, class: 'col-lg-2 control-label'
    .col-lg-8
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :content, class: 'col-lg-2 control-label'
    .col-lg-8
      = f.text_area :content, class: 'form-control'
  = f.submit 'Save', class: 'btn btn-info btn-fixed btn-lg'