%header#header.app-header.navbar{:role => "menu"}
  = render 'shared/top_header'
  .wrapper
    .collapse.pos-rlt.navbar-collapse
      .container
        %ul.nav.navbar-nav
          = link_to root_path, class: 'navbar-brand text-lt' do
            = image_tag('logo.png')
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Suits', '#'
          %li= link_to 'Shirts', 'assets_path'
          %li= link_to 'Pants', '#'
          %li= link_to 'Accessories', '#'
          %li= link_to 'Ties', '#'
          %li= link_to 'Shoes', '#'
