%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
  %title Thrice - Premium Used Clothing for Men
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  = yield :head
  = tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"]