= form_for @rating, remote: true do |f|
  %fieldset
    .form-group
      = f.label :feedback_id, "Feedback"
      .btn-group{"data-toggle" => "buttons"}
        - Feedback.all.each do |feedback|
          %label{class: 'btn btn-lg btn-default'}
            = f.radio_button :feedback_id, feedback.id
            = f.hidden_field :feedback_value, feedback.value
            = feedback.name
    .form-group
      %label Write Comment
      .row
        .col-sm-8.comments-area
          = f.text_area :comment, class: "form-control"
  %fieldset.form-group.actions.clearfix
    = f.submit "Submit", class: "btn btn-default"