= content_for :head do
  %script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
  :javascript
    Stripe.setPublishableKey("#{Figaro.env.stripe_publishable_key}");
.checkout
  .container
    = form_for @order, :html => { id: 'payment-form' } do |f|
      %span.payment-errors
      .row
        .col-md-8.checkout-details
          = render 'shipping_address', f: f
          = render 'billing_info', f: f
        .col-md-4
          = render 'order_details'
          = f.submit "Complete Order", class: "btn btn-info btn-block btn-lg payment_submit"



























