.shipping-address
  %h5 Shipping Address
  .row
    .col-md-6
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :address
    = f.text_field :address, class: 'form-control'
  .form-group
    = f.label :second_address, 'Apt, Suite, etc.'
    = f.text_field :second_address, class: 'form-control'
  .row
    .col-md-4
      .form-group
        = f.label :city
        = f.text_field :city, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :state
        .btn-group.m-r
          .dropdown
            %button#parent_page_btn.btn.btn-more-padding.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :style => "padding:12px 16px;"}
              %span.dropdown-label{"data-placeholder" => "Please select"} Select State
              %span.caret{:style => "margin-left:30px;"}
            %ul.dropdown-menu.dropdown-select.max-height-400
              = render 'states', f: f
    .col-md-4
      .form-group
        = f.label :zipcode
        = f.text_field :zipcode, class: 'form-control'
  .form-group
    = f.label :phone_number
    = f.text_field :phone_number, class: 'form-control'