%section.center
  %h2 Your Purchase History
.table-wrap
  .table-wrap-header
    .clearfix
      .pull-right
        = link_to 'List new Item', sell_path, class: 'btn btn-info'
  %table.table
    %thead
      %tr
        %th Item
        %th Price
        %th Seller
        %th Date Purchased
    %tbody
      - @orders.each do |order|
        - order.transactions.all.each do |transaction|
          %tr
            %td= link_to transaction.listing.name, confirmation_order_path(order)
            %td= transaction.listing.selling_price
            %td= transaction.listing.user.username
            %td= transaction.created_at.strftime("%B %-d, %Y")