.center
  %h2 Your Purchase History
%table.table.table-striped.table-bordered
  %tr
    %th.center Image
    %th.center Item
    %th.center Price
    %th.center Seller
    %th.center Date Purchased
  - @orders.each do |order|
    - order.order_items.all.each do |item|
      %tr
        %td.center= image_tag item.listing.image.url(:thumb)
        %td.center= item.listing.name
        %td.center= number_to_currency(item.listing.price)
        %td.center= item.seller.name
        %td.center= item.created_at.strftime("%B %-d, %Y")
%br/
- if user_signed_in?
  = link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true }
