%section.center
  %h2 Your Purchase History
.table-wrap
  .table-wrap-header
    .clearfix
      .pull-right
        = link_to 'List new Item', sell_path, class: 'btn btn-info'
  %table.table
    %thead
      %tr
        %th Item
        %th Price
        %th Seller
        %th Date Purchased
    %tbody
      - @orders.each do |order|
        - order.order_items.all.each do |item|
          %tr
            %td= item.listing.name
            %td= number_to_currency(item.listing.selling_price)
            %td= item.seller.name
            %td= item.created_at.strftime("%B %-d, %Y")