.center.m-b
  %h2 Your Sales History
.row.text-center
  .col-sm-3
    .panel
      .panel-body
        %h6 Total Sales
        = current_user.total_sales
  .col-sm-3
    .panel
      .panel-body
        %h6 Total Earnings
        = current_user.sub_total_earnings
  .col-sm-3
    .panel
      .panel-body
        %h6 Pending
        = current_user.total_earnings
  .col-sm-3
    .panel
      .panel-body
        %h6 Available
        = current_user.listings_sold
.table-wrap
  .table-wrap-header
    .clearfix
      .pull-right
        = link_to 'List new Item', sell_path, class: 'btn btn-info'
  %table.table
    %thead
      %tr
        %th Item
        %th Price
        %th Customer
        %th You Made
        %th Date Sold
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= link_to transaction.name, transaction.order_item
          %td= transaction.to_currency
          %td= transaction.buyer_name
          %td= transaction.after_thrice_cut
          %td= transaction.order_date
