.center
  %h2 Your Sales History
.row.text-center
  .col-sm-3
    .panel
      .panel-body
        %h6 Total Sales 
        = current_user.total_sales
  .col-sm-3
    .panel
      .panel-body
        %h6 Total Earnings 
        = number_to_currency(current_user.sub_total_earnings)
  .col-sm-3
    .panel
      .panel-body
        %h6 Pending 
        = number_to_currency(current_user.total_earnings)
  .col-sm-3
    .panel
      .panel-body
        %h6 Available 
        = current_user.listings.sold.count
%table.table.table-striped.table-bordered
  %tr
    %th.center Image
    %th.center Item
    %th.center Price
    %th.center Customer
    %th.center You Made
    %th.center Date Sold
  - @transactions.each do |transaction|
    %tr
      %td.center= image_tag transaction.order_item.listing.image.url(:thumb)
      %td.center= transaction.order_item.listing.name
      %td.center= number_to_currency(transaction.subtotal)
      %td.center= User.find(transaction.order.buyer_id).name
      %td.center= number_to_currency(transaction.total)
      %td.center= transaction.created_at.strftime("%B %-d, %Y")
