.center.m-b
  %h2 Your Sales History
.row.text-center
  .col-sm-3
    .panel
      .panel-body
        %h6 Total Sales 
        = current_user.total_sales
  .col-sm-3
    .panel
      .panel-body
        %h6 Total Earnings 
        = number_to_currency(current_user.sub_total_earnings)
  .col-sm-3
    .panel
      .panel-body
        %h6 Pending 
        = number_to_currency(current_user.total_earnings)
  .col-sm-3
    .panel
      .panel-body
        %h6 Available 
        = current_user.listings.sold.count
.table-wrap
  .table-wrap-header
    .clearfix
      .pull-right
        = link_to 'List new Item', 'new_admin_client_path', class: 'btn btn-info'
  %table.table
    %thead
      %tr
        %th Item
        %th Price
        %th Customer
        %th You Made
        %th Date Sold
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.order_item.listing.name
          %td= number_to_currency(transaction.subtotal)
          %td= User.find(transaction.order.buyer_id).name
          %td= number_to_currency(transaction.total)
          %td= transaction.created_at.strftime("%B %-d, %Y")
