.center
  %h2 Your Sales History
%table.table.table-striped.table-bordered
  %tr
    %th.center Image
    %th.center Item
    %th.center Price
    %th.center Customer
    %th.center Status
    %th.center Date Sold
  - @orders.each do |order|
    %tr
      %td.center= image_tag order.listing.image.url(:thumb)
      %td.center= order.listing.name
      %td.center= number_to_currency(order.listing.price)
      %td.center= order.buyer.name
      %td.center= order.listing.sold
      %td.center= order.created_at.strftime("%B %-d, %Y")
%br/
- if user_signed_in?
  = link_to 'New Listing', new_listing_path, class: "btn btn-link", data: { no_turbolink: true }
