.center
  .row
    - @listings.each do |listing|
      .col-md-3
        .thumbnail
          = link_to image_tag(listing.image.url), listing
          .caption
            %h3= listing.name
            %p= number_to_currency(listing.price)
            %p= "Sold by #{listing.user.name}"
            = form_for @order_item, remote: true do |f|
              %h4.text-right
                Unit Price: 
                %span{style: "color: green"}= number_to_currency(listing.price)
              .input-group
                = f.number_field :quantity, value: 1, class: "form-control", min: 1 
                .input-group-btn
                  = f.hidden_field :listing_id, value: listing.id 
                  = f.submit "Add to Cart", class: "btn btn-primary" 
%br/
- if user_signed_in?
  = link_to "New Listing", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true }
