%tr
  %td.item-image
    - if listing.listing_images.first && listing.listing_images.first.listing_image_file_name != nil
      = image_tag(listing.listing_images.first.listing_image.url(:small), class: 'img-responsive')
  %td
    %h5= link_to listing.name, listing
    %p
      %span Condition:
      = listing.condition
  %td
    %h6= listing.seller_name
  %td
    %h6= order_item.to_currency
  %td
    = link_to order_item, { method: :delete, remote: true } do
      %i.fa.fa-times.fa-fw{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Delete Item"}