%tr
  %td.item-image
    = image_tag(listing.image.url, class: 'img-responsive', style: "height: 150px;")
  %td
    %h5= listing.name
    %p 
      %span Condition: 
      New with tags
  %td
    %h6= listing.user.name
  %td
    %h6= number_to_currency order_item.total_price
  %td= link_to "x", order_item, { method: :delete, remote: true }