.well
  .row
    .col-xs-8
      %h4= listing.name
    .col-xs-4
      = form_for order_item, remote: true do |f|
        %h4.text-right 
          Unit Price: 
          %span{style: "color: green"}= number_to_currency order_item.unit_price 
        .row
          .col-xs-4
            = f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1
            = f.hidden_field :listing_id, value: listing.id 
          .col-xs-8.text-right
            .btn-group
              = f.submit "Update Quantity", class: "btn btn-primary" 
              = link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the listing '#{order_item.listing.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" }
        %h4.text-right 
          Total Price: 
          %span{style: "color: green"}= number_to_currency order_item.total_price
