.center
  %h2 Shopping Cart
- if !@order_item.nil? && @order_item.errors.any?
  .alert.alert-danger
    %ul
      - @order_item.errors.full_messages.each do |msg|
        %li= msg
- if @order_items.size == 0
  %p.text-center
    There are no items in your shopping cart.  Please #{link_to "go back", root_path} and add some items to your cart.
- else
  .cart-item
    %table.table
      %thead
        %tr
          %th Item
          %th
          %th Seller
          %th Total
          %th
      %tbody
        - @order_items.each do |order_item|
          = render 'carts/cart_row', listing: order_item.listing.decorate, order_item: order_item.decorate, show_total: true
  .col-sm-offset-8.col-sm-4
    %p Order Summary
    .row
      .col-sm-6
        %p Subtotal
      .col-sm-6
        .pull-right
          %p= number_to_currency current_cart.subtotal
    = link_to 'Checkout', checkout_path, class: 'btn btn-info btn-lg btn-block', 'data-no-turbolink' => true
