%h4 Your item has been sold.
%p
  A confirmation email has been sent to
  = @order_item.listing.user.email
.order-details
  %p
    Order Number:
    %span.bold= "#{@order_item.order.id}"
  %p
    Order Item Number:
    %span.bold= "#{@order_item.id}"
  %p
    Date of Order:
    %span.bold= "#{@order_item.order.created_at.strftime("%B %-d, %Y")}"
  %p
    Shipping To:
    %span.bold= "#{@order_item.order.first_name} #{@order_item.order.last_name}"
  %p
    Shipping Address:
    %span.bold= @order_item.shipping_address
.order-confirmation
  %table.table
    %thead
      %tr
        %th Item
        %th Buyer
        %th
          .pull-right Total
    %tbody
      %tr
        %td
          = link_to @order_item.listing.name, @order_item.listing
        %td
          = link_to @order_item.buyer_name, @order_item.order.buyer
        %td
          .pull-right
            = number_to_currency @order_item.total_price
