%aside#aside.app-aside.hidden-xs.bg-dark
  .aside-wrap
    .navi-wrap
      %nav.navi.clearfix{"ui-nav" => ""}
        %ul.side-nav
          .clearfix
            %li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs.pull-right
              %span
                = link_to '#', id: 'close-menu' do
                  %i.fa.fa-times.fa-fw
          - Category.all.each do |category|
            %li
              = link_to category.title, category
          %li.line.dk
          - if current_user
            %li= link_to 'Your Listings', listings_path
            %li= link_to 'Your Purchases', purchases_path
            %li= link_to 'Your Sales', sales_path
            %li= link_to 'Payout', '#'
            %li= link_to 'My Profile', user_profile_path(current_user)
            %li= link_to 'Profile Settings', profile_edit_path
            %li.divider
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Login', login_path
            %li= link_to 'Sign Up', register_path
          %li.line.dk
          %li= link_to 'Sell', sell_path